* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Aeroport';
    src: url(./assets/fonts/Aeroport.ttf);
  }

  @font-face {
    font-family: 'AeroportMedium';
    src: url(./assets/fonts/Aeroport-Medium.ttf);
}

@font-face {
    font-family: 'JanoSansPro-Regular';
    src: url(./assets/fonts/JanoSansPro-Regular.ttf);
}

body{
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    max-width: 1280px;
    height: 52px;
    top: 0px;

}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 20px;
    align-items: center;
    padding: 0px 39px;
    gap: 25px;
    isolation: isolate;
    position: absolute;
    width: 1280px;
    height: 26px;
    left: 0px;
    top: 11px;
}

.nav-item {
    font-family:'JanoSansPro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: #787878;
    }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }  

  .nav-item :hover {
    font-family:'JanoSansPro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: black; 
  }
  
.nav-item > a {
    text-decoration: none;
    color: inherit;
}

.profile {
    max-width: 1280px;
    height: 670px;   
    }


.heading_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px 3px 1px 39px;
    gap: 1px;
    max-width: 1280px;
}

.profile_heading {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1px;
    max-width: 900px;
}

.title {
    margin: 10px 0;
    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    text-transform: uppercase;
    color: #000000;
    }

.subtitle {
    font-family: 'JanoSansPro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 100%;
    color: #858585;
    margin: 0 0 15px 0;
    }

.profile_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    gap: 15px;
    max-width: 1280px;
    flex-wrap: wrap;
}

.profile_content_item {
    width: 350px;
    height: 400px;
}

.my-cool-face{
    width: 100%;
    height: 100%;
}

.buttons {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 26px;
width: 283px;
height: 122px;
}

.button_email {
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 17px;

width: 283px;
height: 48px;

background: #010101;
border: 2px solid #4B4B4B;
border-radius: 5px;
color: #FFFFFF;
font-family: 'Aeroport';
font-size: 24px;
text-decoration: none;
}

.button_email:hover {
    font-family:'JanoSansPro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: rgb(98, 25, 255); 
  }

.button_telegram {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 17px;
    width: 283px;
    height: 48px;
    background: #010101;
    border: 2px solid #4B4B4B;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Aeroport';
    font-size: 24px;
    text-decoration: none;
}

.button_telegram:hover {
    font-family:'JanoSansPro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: rgb(98, 25, 255); 
  }
.about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

}

.text_about {
    font-family: 'JanoSansPro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: right;
    color: #000000;
}

.github_discord {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 190px;
    height: 24px;
    }

.github {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    height: 24px;

    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
}

.github:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    height: 24px;

    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-decoration: none;
    color: rgb(98, 25, 255);
}

    .discord {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    height: 24px;
    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    }

    .discord:hover {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 18px;
        height: 24px;
    
        font-family: 'Aeroport';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        text-decoration: none;
        color: rgb(98, 25, 255);
    }
    .skills_content {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -74px 0 0 0;
    gap: 15px;
    max-width: 1280px;
    height: 631px;
    flex-wrap: wrap;
    }

    .header_skills_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1px;
        max-width: 1280px;
        padding: 0px 30px 800px 1120px;        
        
    }

    .header_skills {
        font-family: 'Aeroport';
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 100%;
        color: #595959;
        margin: 10px 0;
    }

    .skills_content_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 160px;
        position: absolute;
        width: 1280px;
        height: 282px;
        left: 72px;
        top: 760px;
    }

    .list_skills {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        width: 769px;
        height: 370px;
        background: #FFFFFF;
    }

    .text_list_skills {
    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
    flex: none;
    order: 0;
    }

    .skills_content_code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 269px;
    height: 120px;
    }

    .code_example {
     font-family: 'Aeroport';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
    color: #FFFFFF;
    }
    .code {
font-family: 'Aeroport';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: #42FF00;
    }

.experience {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -74px 0 0 0;
    gap: 15px;
    max-width: 1280px;
    height: 631px;
    flex-wrap: wrap;
    }

    .header_experience_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1px;
        max-width: 1280px;
        padding: 0px 30px 400px 950px;
    }

    .header_experience {
        font-family: 'Aeroport';
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 100%;
        color: #595959;
        margin: 10px 0;
    }

    .work {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 160px;
        position: absolute;
        width: 1280px;
        height: 282px;
        left: 80px;
        top: 1300px;
    }
    .about_work {
        font-family: 'Aeroport';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: black
    }

    .education {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -74px 0 0 0;
        gap: 15px;
        max-width: 1280px;
        height: 631px;
        flex-wrap: wrap;
        }

        .header_education_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1px;
            max-width: 1280px;
            padding: 0px 30px 800px 980px;
        }
    
     .header_education {
            font-family: 'Aeroport';
            font-style: normal;
            font-weight: 400;
            font-size: 65px;
            line-height: 100%;
            color: #595959;
            margin: 10px 0;
        }
        
     .education_title {
            font-family: 'Aeroport';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            color: black;
            padding-top: 700px;
        }
.education_content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
    position: absolute;
    width: 1280px;
    left: 80px;
    top: 1300px;
}

.about_education {
        font-family: 'Aeroport';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: black
        position: absolute;
        width: 1280px;
        left: 80px;
        top: 1200px;
        }
    

    .language {
        background-color: white;
        display: flex;
        align-items: center;
        max-width: 1280px;
        flex-wrap: wrap;
        }

        .header_language_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1px;
            max-width: 1280px;
            padding: 0px 100px 30px 980px;
        }
    
        .header_language {
            font-family: 'Aeroport';
            font-style: normal;
            font-weight: 400;
            font-size: 65px;
            line-height: 100%;
            color: #595959;
            margin: 10px 0;
        }
        .language_content {

            align-items: left;
            padding: 0px;
            width: 1280px;

        }
        .about_language {
            font-family: 'Aeroport';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            color: black
            }

            .footer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 350px;
                max-width: 1280px;
                background-color: #000000;
            }

.year {
    font-family: 'Aeroport';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: white
}

.footer_discord {
    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: white
}


